<h2>Update a Post</h2>

<%= form_with model: @blog, method: :patch, local: true do |form| %>
    <%= form.label :title %>
    <br>
    <%= form.text_field :title%>
    <br>
    <br>
    <%= form.label :content%>
    <br>
    <%= form.text_area :content, size: "70x5"%>
    <br>
    <br>
    <%= form.submit 'Edit Post'%>
    <br>
    <br>
    <% end %>
    
    <h4><%=link_to 'Back Home', blogs_path %></h4>